:root {
    --dark: #1F2937;
    --grey: #E5E7EB;
    --white-text: #F9FAF8;
    --blue: #3882F6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
}

header {
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    color: var(--white-text);
    padding: 10px 150px;
    align-items: center;
}

header > h2 {
    font-size: 24px;
    color: var(--white-text);
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--grey);
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
    background-color: var(--dark);
}

.hero-text {
    flex: 1;
    padding: 0 20px 0 0;
}

.hero-text h1 {
    color: var(--white-text);
    font-size: 48px;
    font-weight: 700;
    padding: 5px 0;
}

.hero-text p {
    color: var(--grey);
    font-size: 18px;
    padding-bottom: 10px;
}

.hero-text button {
    border: none;
    background-color: var(--blue);
    width: 115px;
    height: 25px;
    border-radius: 5px;
    color: var(--white-text);
    font-weight: bold;
    cursor: pointer;
}

.hero img {
    flex: 1;
    width: 500px;
    height: 250px;
}

.info h2 {
    text-align: center;
    color: var(--dark);
    padding: 50px 0;
    font-size: 36px;
    font-weight: 700;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.thumbnail_and_text {
    width: 125px;
}

.thumbnail {
    border: 3px solid var(--blue);
    width: 125px;
    height: 125px;
    color: white;
    border-radius: 8px;
}

.thumbnail_text {
    font-size: 14px;
    text-align: center;
    padding: 7px 0 80px 0;
}

.testimonial {
    background: var(--grey);
}

.quote {
    padding: 100px 240px 0 240px;
}
.quote-text {
   color: var(--dark);
   font-size: 36px;
   font-style: italic;
   font-weight: 300;
}

.quote-author {
    text-align: right;
    padding-bottom: 90px;
}
